// Sass utilities
@import '../../../bower_components/foundation-sites/scss/util/util';



// Global variables and styles
@import '../../../bower_components/foundation-sites/scss/global';
@import '../../../bower_components/foundation-sites/scss/grid/grid';
@import '../../../bower_components/foundation-sites/scss/util/_flex';
@import '../../../bower_components/foundation-sites/scss/prototype/prototype';

// Create and add all required SCSS files as the example below
@import '../../../bower_components/foundation-sites/scss/components/_breadcrumbs';
@import '../../../bower_components/foundation-sites/scss/components/_tooltip';
@import './components/header';

@import 'foundation';
// $breadcrumbs-item-font-size: rem-calc(11);

$breadcrumbs-item-uppercase: false;
$breadcrumbs-item-separator-item : '>';
$breadcrumbs-item-margin: 0.6rem;
// @include foundation-global-styles;
// @include foundation-xy-grid-classes;
@include foundation-grid;
@include foundation-flex-grid;
@include foundation-flex-classes;
// @include foundation-typography;
// @include foundation-forms;
@include foundation-button;
// @include foundation-accordion;
// @include foundation-accordion-menu;
// @include foundation-badge;
@include foundation-breadcrumbs;
// @include foundation-button-group;
// @include foundation-callout;
// @include foundation-card;
// @include foundation-close-button;
@include foundation-menu;
// @include foundation-menu-icon;
// @include foundation-drilldown-menu;
// @include foundation-dropdown;
// @include foundation-dropdown-menu;
// @include foundation-responsive-embed;
// @include foundation-label;
// @include foundation-media-object;
// @include foundation-off-canvas;
// @include foundation-orbit;
// @include foundation-pagination;
// @include foundation-progress-bar;
// @include foundation-slider;
// @include foundation-sticky;
// @include foundation-reveal;
// @include foundation-switch;
// @include foundation-table;
@include foundation-tabs;
// @include foundation-thumbnail;
// @include foundation-title-bar;
@include foundation-tooltip;
// @include foundation-top-bar;
// @include foundation-visibility-classes;
// @include foundation-float-classes;

// @include foundation-everything(true);
// @include foundation-prototype-classes;

// @include foundation-prototype-typescale;
// @include foundation-prototype-text-utilities;
// @include foundation-prototype-text-transformation;
// @include foundation-prototype-text-decoration;
// @include foundation-prototype-font-styling;
// @include foundation-prototype-list-style-type;
// @include foundation-prototype-rounded;
// @include foundation-prototype-bordered;
// @include foundation-prototype-shadow;
// @include foundation-prototype-arrow;
@include foundation-prototype-separator;
// @include foundation-prototype-overflow;
// @include foundation-prototype-display;
// @include foundation-prototype-position;
// @include foundation-prototype-border-box;
// @include foundation-prototype-border-none;
// @include foundation-prototype-sizing;
// @include foundation-prototype-spacing;
// @include separator();

//variables  (uncomment once added the site variables SCSS file
// @import 'variables';


$pageWidth:1250px;
$frontColor:rgb(37, 2, 68);
$backgroundColor:rgb(239, 231, 244);
$titleColor:rgb(239, 231, 244);
$mygutter:30px;
$themecolor:rgb(50,5,80);

body{
    margin: 0;
    font-family: lato, sans-serif;
    font-weight: bold;
    // background-image: url(../../assets/img/test-mockup-with-grid.jpg);
    background-position: top center;
    background-repeat: no-repeat;
    a{
        text-decoration-line: none;
    }
}

.columns, .column{
    box-sizing: border-box;
}
header{
    height: 113px;
    img{
        padding-bottom: 6px;
    }
    .menu{
        padding-left: 0;
        a{
            padding-right: 22px;
            margin-bottom: 16px;
            font-size: 26px;
            &:hover{
                background-color: rgb(50,5,80);
                color: white;
            }
        }
    }
}
.panelMenu{
    background-color: $backgroundColor;
    border-top: solid 5px $frontColor;
    margin: 0 auto;
    width: 100%;
    height: 160px;
    
    >div{
        // padding-left: 75px;
        @include flex-grid-row(null, 1300px, null, true, $grid-column-gutter);
    }
    .column:first{
        float: left;
    }
    button{
        background-color: $themecolor;
    }
    .menu{
        height: 120px;
        flex-flow: column wrap;
    }
}
.headerLine{
    border-top: none;
    box-shadow: 0 2px 2px grey;
}
.myseparator{
    @include separator(left,2px,3em,rgb(50,5,80),10px);
    // @include separator($align, $height, $width, $background, $top);
    // text-align: left;
    // width: 200px;
}
main{
    .vm li:first-child{
        margin: 40px 0 22px;
        padding: 0;
        font-size: 24px;
    }
    .menu{
        padding-left: 0px;
        a{
            padding-left: 0px;
            font-size: 15px;
            font-weight: normal;
        }
        float: left;
    }
    //竖线
    .menu + hr{
        margin: 0;
        margin-top: 40px;
        float: right;
    }
    .breadcrumbs{
        padding-left: 0;
        margin-top: 45px;
        margin-bottom: 0;
        a{
            font-size: 14px;
            color:grey;
            font-weight: normal;
        }
    }
    h2{
        font-size: 46px;
        padding: 0;
        margin: 23px 0;
    }
    img{
        padding-top: 5px;
    }
    .newsback{
        margin-top: 183px;
        background-color: $backgroundColor;
        p,h3{
            margin: 0;
            padding: 13px 15px
        }

        h3{

            border-top: solid 5px $frontColor;
            padding-top: 7px;
            font-size: 20px;
            font-family: lato, sans-serif;
            font-weight: bold;

            @include separator(left,2px,3em,rgb(50,5,80),10px);
        }
        
        p:last-child{
            padding-bottom: 50px;
            font-size: 14px;
            font-weight: normal;
            line-height: 21px;
        }
        
        &:after{
            content:url(../img/share.png);
            float: right;
            margin-top: -25px;
        }
    }
}
//@import 'reset';
//@import 'accessibility';
//@import 'typography';
//@import 'header';