// Sass utilities
@import '../../../bower_components/foundation-sites/scss/util/util';



// Global variables and styles
@import '../../../bower_components/foundation-sites/scss/global';
@import '../../../bower_components/foundation-sites/scss/grid/grid';
@import '../../../bower_components/foundation-sites/scss/util/_flex';

// Create and add all required SCSS files as the example below
@import '../../../bower_components/foundation-sites/scss/components/_breadcrumbs';
@import './components/header';

@import 'foundation';

// $breadcrumbs-item-font-size: rem-calc(11);

$breadcrumbs-item-uppercase: false;
$breadcrumbs-item-separator-item : '>';
$breadcrumbs-item-margin: 0.6rem;
@include foundation-grid;
@include foundation-flex-grid;
@include foundation-flex-classes;
@include foundation-breadcrumbs;
@include foundation-menu;

@mixin fullScreen{
    position: fixed;
    top: 0;
    bottom: 0;
}
@mixin fullScreen2{
    position: absolute;
    // width: 100%;
    height: 100%;
}
//invaliadle
@mixin fullScreen3{
    display: table;
    width: 100%;
    height: 100%;
}

// table{
//     background-color: red;
//     height: 100%;
//     width: 100%;
// }
//full Screen 4
html,body{
    // height: 100%;
}
.header{
    
    width: 1250px;
    margin: 0 auto;
    background-color: red;
    height: 30px;
}

.row{
    // @include flex-grid-row(null, 1250, null, true, 30);
    // margin: 0 auto;
}
.columns{
    background-color: grey;
    
}
body{
    margin: 0;
    // display: flex;
    // flex-direction: column;
    // @include fullScreen2();
}
p:first-child{
    // margin-top: 0;
}
main{
    // display: flex;
    // flex: 1 1 auto;
    // height: 100%;
}
.firstDiv{
    flex: 0 0 300px;
    // width: 300px;
    // height: 100%;
    // float: left;
    background-color: red;
    .innerDiv{
        // @include fullScreen();
    }
}
.secondDiv{
    flex: 1 1 auto;
    // margin-left: 300px;
    // height: 100%;
    // width: 400px;
    // float: left;
    // @include fullScreen();
    // display: table;
    .innerDiv{
        // display: table;
    }
    // display: table;
    background-color: green;
}
