<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<title>Welcome to NYU Abu Dhabi</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="../assets/css/base.css">
	<script src="//use.edgefonts.net/lato.js"></script>
	<script src="../assets/js/scripts.js"></script>
</head>

<body>
	<header role="banner" class="row align-top">
		<!-- main navigation goes here -->

		<div class="large-4 column">
			<img src="../../assets/img/nyulogo.png" alt="">
		</div>
		<div class="columns">
			<ul class="menu horzintalNav">
				<li><a href="#" data-toggle="academicsDiv">Academics</a>
				</li>
				<li><a href="#">Admissions</a>
				</li>
				<li><a href="#">Research</a>
				</li>
				<li><a href="#">Campus Life</a>
				</li>
				<li><a href="#">About</a>
				</li>
			</ul>
		</div>
		<!-- </div> -->
	</header>
	<div class="panelMenu dropdown-pane" data-v-offset="26" id="academicsDiv" data-dropdown data-hover="true" data-hover-pane="true">
		<div class="align-top">
			<div class="column large-6">
				<h2>
					NYU Abu Dhabi's curriculum exporse students to transformative achievements
				</h2>
				<button class="button" type="button">
					Visit Academics
				</button>
			</div>
			<div class="column large-5">
				<ul class="menu flex-container flex-dir-column">
					<li>
						<a href="#">Item 1</a>
					</li>
					<li>
						<a href="#">Item 2</a>
					</li>
					<li>
						<a href="#">Item 3</a>
					</li>
					<li>
						<a href="#">Item 4</a>
					</li>
					<li>
						<a href="#">Item 5</a>
					</li>
					<li>
						<a href="#">Item 6</a>
					</li>
					<li>
						<a href="#">Item 7</a>
					</li>
					<li>
						<a href="#">Item 8</a>
					</li>
					<li>
						<a href="#">&nbsp;</a>
					</li>
				</ul>
			</div>
		</div>
	</div>

	<hr class="headerLine" />
	<main class="row">
		<!-- all body content, sidebars would go here -->

		<div class="columns large-3 vm">
			<ul class="vertical menu">
				<li class="menu-text">Locations</li>
				<li><a href="#">North America</a></li>
				<li><a href="#">South America</a></li>
				<li><a href="#">Europe</a></li>
				<li><a href="#">Africa</a></li>
				<li><a href="#">Asia</a></li>
			</ul>
		</div>
		<div class="columns large-7">
			<ul class="breadcrumbs">
				<li><a href="#">Home</a></li>
				<li><a href="#">Academics</a></li>
				<li class="unavailable"><a href="#">Global Education</a></li>
				<li class="current"><a href="#">January Team</a></li>
				<li class="current"><a href="#">Locations</a></li>
				<li class="current"><a href="#">Europe</a></li>
			</ul>
			<h2> 3/4/5 Level 1-3-1 Template (H2)</h2>
			<img class="" src="../../assets/img/pic1.jpg" alt="picture">
		</div>
		<div class="columns large-2">
			<div class="newsback">
				<h3 class="">Getting Started at NYUAD</h3>
				<p>Welcome to the class of 2020! Get started on your journey over the next four years with Marhaba!</p>
				<div><img src="../../assets/img/share.png" alt=""></div>
			</div>
		</div>
	</main>

	<!-- footer would go here -->
</body>

</html>